@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  color: black;
  text-align: center;
}

#links-holder {

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

  .link-to-skill {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

}

p.sub-title {
  width: 300px;
  font-size: 20px;
  font-weight: bold;
}

.skill-section {

  padding-top: 30px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .skill-item {

    list-style-type: none;
    margin-top: 10px;


    float: left;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    margin-right: 20px;

    .skill-name {
      font-weight: bold;
    }

  }
  
}

section {
  overflow: auto;
}

.btn {
    border-radius: 0px;
}

.navbar {
  background-color: #f8f8f8;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: darkslategray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: darkslategray;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #8FA7F0;
  color: black;

  a {
    color: black;
    &hover {
      color: black;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
